:root{
  --bg-color:rgb(228, 224, 224);
  --primary-color:#40282c;
  --secondary-color:#BFA08E;
  --third-color:#787167;
  --third-bis-color:#db4648f2;
  --bg-input-color:#4f31572c;
}
*{
  margin: 4px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito',sans-serif;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color:var(--bg-color);
}
a{
  text-decoration: none;
}


h1{
  margin-top: 6vw;
}
h2{
color:var(--third-color);
font-size:4vw;
}

h3{
  color: var(--primary-color);
  font-size: 2vw;
}
.header{
  background-color: var(--third-color);
  margin: 0;
  color: #fff;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.scrolled{
  background-color: var(--third-color);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}
.grid-container-we {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Para centrar los contenidos en la tarjeta */
}

.card-header {
  background-color: var(--third-color);
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%; /* Asegura que el encabezado tome todo el ancho de la tarjeta*/ 
}

.card ul {
  text-align: center;
  list-style: none;
  padding: 10px;
  margin: 0;
  width: 100%;
}

.card ul li {
  margin: 5px 0;
}

.card ul li a {
  text-decoration: none;
  color: var(--third-color);
}

.card img {
  width: 100%;
  height: 250%;
}

.card div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%; /* Asegura que el contenedor de la imagen tome todo el ancho de la tarjeta */
  height: 200px; /* Altura fija para todas las imágenes */
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
  border-radius: 5px; /* Opcional: para redondear las esquinas de las imágenes */
}

.contact_number{
  background-color: var(--third-color);
  padding: 0;
  margin: auto;
  color: var(--secondary-color);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
  padding: 0px 50px;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a{
  text-decoration: none;
  color:#FFF;
}

.nav-links a:hover{
  color: var(--secondary-color) ;
}
.btn-cac{
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;

  
}
.btn-cac:hover{
  color:var(--secondary-color)!important;
  border: 2px solid var(--secondary-color);
}


.container{
  max-width: 1200px;
  margin: 120px auto;
}

.card-banner{
  margin: 0 auto;
  text-align: center;
  padding:0 160px;
}
.card-banner h1{
  color:#2d2828;
  font-size: 4vw;
}
.card-banner h2{
  margin-bottom: 20px;
}



.search-title{
  color: white;
  font-size:3vw;

}
.input-search{
  background-color: var(--bg-input-color);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  height: 50px;
  margin: 20px 0px;
  /* outline: elimina contorno alrededor de un elemento */
  outline: none;
  padding: 0px 20px;
  width: 70%;
  font-family: 'Nunito',sans-serif;

}

.text-main{
  text-align: center;
  padding: 1vw;
}

footer {
  background-color: var(--third-color);
  display: flex;
  padding: 10px 50px;
  width: 100%;

}
footer a{
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
  display: fixed;

}

#form-wrapper{
  border: 2px solid var(--third-color);
  border-radius: 25px;
  background-color: var(--secondary-color);
  font-family: 'Nunito',sans-serif;
  font-size: 16px;
  margin:  10vw 20vw 30vw;
  padding: 40px 20px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;}


.form-control{
  padding: 4px;

}


.corner-button {
  font-family: 'Lato', sans-serif;
  letter-spacing: .02vw;
  cursor: pointer;
  background: transparent;
  border: 0.3vw solid currentColor;
  padding: 0.3vw 0.7vw;
  font-size: 2vw;
  color: var(--primary-color);
  position: relative;
  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}
.corner-button:hover {
  color: white;
}
.corner-button:hover::before {
  width: 0;
}
.corner-button:hover::after {
  height: 0;
}
.corner-button:active {
  border-width: 0.25rem;
}
.corner-button span {
  position: relative;
  z-index: 2;
}
.corner-button::before, .corner-button::after {
  content: '';
  position: absolute;
  background:var(--third-color);
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.corner-button::before {
  width: calc(100% - 3rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.corner-button::after {
  height: calc(100% - 3rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.redes_soc{
  display: flex;
  align-items: right;
  justify-content: right;
};

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/Fondo1.jpg);
  background-size: cover;
}
.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 9px 7px rgba(0, 0, 0, .1);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 120px;
}

.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
 /*Variable de colores background-color: var(--third-color); */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.info-childs {
  width: 100%;
  padding: 0 30px;
}

.info-childs h2 {
  font-size: 2.5rem;
  color: #333;
}

.info-childs p {
  margin: 15px 0 ;
  color: var(--primary-color);
}

.info-childs input {
  background-color: var(--primary-color);
  outline: none;
  border: solid 2px white;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: background-color .3s ease;
}

.info-childs input:hover {
  background-color: var(--third-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  width: 60%;
  text-align: center;
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-information-childs {
  padding: 10 50px;
}

.form-information-childs h2 {
  color: var(--third-color);
  font-size: 2rem;
}

.form-information-childs p {
  color: #555;
}

.icons {
  margin: 15px 0;
}

.icons i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: var(--secondary-color);
  border: solid thin var(--secondary-color);
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.icons i:hover {
  background-color: var(--third-color);
  color: #fff;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #333;
}

.form label i {
  color: #a7a7a7;
}

.form input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 20px;
  border: solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover {
  background-color: var(--third-color);
  border-radius: 20px;
  border: solid var(--secondary-color);
  color: var(--secondary-color);
}

.hide {
  position: absolute;
  transform: translateY(-300%);
}

/*PERSONALIZACION DE ALERTAS Y MENSAJES */
.form div .alerta {
  width: 290px;
  text-align: left;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: .8rem;
}

.form > .alerta-error,
.form > .alerta-exito {
  display: none;
}

.form .alertaError {
  display: block;
  background-color: #F66060;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .alertaExito {
  display: block;
  background-color: #0ca828;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .error {
  outline: solid 2px #9d2222;
}

/*RESPONSIVE FORM*/

@media screen and (max-width:750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:580px) {
  html {
    font-size: 15px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }

  .information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }
}
.redes_soc{
  display: flex;
  align-items: right;
  justify-content: right;
};