<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapas Sonoros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="../../static/assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ba032cea30.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>

<body>
    <header class="header">
        <nav>
            
            <div id="logo">
                <a href="index.html">
                    <button class="corner-button">
                        <span>Mapa Sonoro</span>
                    </button>
                </a>
            </div>
        </nav>
    </header>
    <main>
    <section id="mapasonoro">
        <h1 class="animate__animated animate__fadeInDown">Mapas Sonoros</h1>
        <br><br><br>
        <div id="tormenta">
            <h2 class="animate__animated animate__fadeInDown">Lomas de Zamora</h2>
                <iframe width="100%" height="600px" frameborder="0" allowfullscreen allow="geolocation" src="https://umap.openstreetmap.fr/es/map/tormenta-en-lomas-de-zamora_1062112?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false&captionMenus=true"></iframe><p><a href="https://umap.openstreetmap.fr/es/map/tormenta-en-lomas-de-zamora_1062112?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false&captionMenus=true">Ver pantalla completa</a></p>
        </div>
        <br><br><br>
        <div id="arroyo">
            <h2 class="animate__animated animate__fadeInDown" >Villa Elena</h2>
                <iframe width="100%" height="600px" frameborder="0" allowfullscreen allow="geolocation" src="https://umap.openstreetmap.fr/es/map/arroyos-y-cascadas_1061936?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false&captionMenus=true"></iframe><p><a href="https://umap.openstreetmap.fr/es/map/arroyos-y-cascadas_1061936?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false&captionMenus=true">Ver pantalla completa</a></p>
        </div>
        <br><br><br>
        <div id="humedal">
            <h2 class="animate__animated animate__fadeInDown">Los Talas</h2>
                <iframe width="100%" height="600px" frameborder="0" allowfullscreen allow="geolocation" src="https://umap.openstreetmap.fr/es/map/humedales_1062109?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false&captionMenus=true"></iframe><p><a href="https://umap.openstreetmap.fr/es/map/humedales_1062109?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false&captionMenus=true">Ver pantalla completa</a></p>
        </div>
        <br><br><br>
        <div id="rural">
            <h2 class="animate__animated animate__fadeInDown">Gandara</h2>
                <iframe width="100%" height="600px" frameborder="0" allowfullscreen allow="geolocation" src="https://umap.openstreetmap.fr/es/map/ambiente-rural_1062106?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false&captionMenus=true"></iframe><p><a href="https://umap.openstreetmap.fr/es/map/ambiente-rural_1062106?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=databrowser&captionBar=false&captionMenus=true">Ver pantalla completa</a></p>
        </div>
    </section>
</main> 
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
        <div class="redes_soc">
            <img src="../static/assets/img/facebook.png" alt="Facebook">
            <img src="../static/assets/img/instagram.png" alt="Instagram">
            <img src="../static/assets/img/whatsapp.png" alt="WhatsApp">
        </div>
    </footer> 
</body>
</html>