<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="../../static/assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ba032cea30.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>
<body>
    <header class="header">
        <nav>
            <div id="logo">
                <a href="index.html">
                    <button class="corner-button">
                        <span>Mapa Sonoro</span>
                    </button>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section class="resources">
            <h1>Descarga de archivos</h1>
            <div class="grid-container">
                <div class="card">
                    <h2 class="card-header">Arroyo</h2>
                    <ul>
                        <li><a href="https://drive.google.com/file/d/1yi8BiunAQkM2cScvSeo9qvxCPF98e_u_/view?usp=drive_link">Arroyo</a></li>
                        <li><a href="https://drive.google.com/file/d/1uV44WB03KOCw0EfVe17ehEpOeYQ4Arzn/view?usp=drive_link">Cascada</a></li>
                        <li><a href="https://drive.google.com/file/d/1MymEFh9CvMmsCRCKNE8_W12s_-D_R_Aq/view?usp=drive_link">Dique</a></li>
                    </ul>
                    <div>
                        <img src="../../static/assets/img/cascada.jpg" alt="Cascada">
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-header">Tormenta</h2>
                    <ul>
                        <li><a href="https://drive.google.com/file/d/1McX-hOzxIRemskwvC2bG-yT1sgscbd9J/view?usp=drive_link">Ambiente tormenta 1</a></li>
                        <li><a href="https://drive.google.com/file/d/1cCIEjynw-h8PtbnujOVxHof6q3rDzfdD/view?usp=drive_link">Ambiente tormenta 2</a></li>
                        <li><a href="https://drive.google.com/file/d/11nmz_V-0DSvgvSE3l13kuCYg8wXDxymZ/view?usp=drive_link">Ambiente tormenta 3</a></li>
                    </ul>
                    <div>
                        <img src="../../static/assets/img/lomas.jpg" alt="Lomas">
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-header">Humedal</h2>
                    <ul>
                        <li><a href="https://drive.google.com/file/d/1aumqVLaHwYiPhH1jweIc5qJDjmpan82D/view?usp=drive_link">Ambiente humedal 1</a></li>
                        <li><a href="https://drive.google.com/file/d/13-SEX5HtfrBS7rK9wLyxerBZt6X1bDqm/view?usp=drive_link">Ambiente humedal 2</a></li>
                        <li><a href="https://drive.google.com/file/d/1-vSCtZB6sNPwn-DTerj_um-XWX14gkCT/view?usp=drive_link">Ambiente humedal 3</a></li>
                    </ul>
                    <div>
                        <img src="../../static/assets/img/humedal.jpg" alt="Humedal">
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-header">Rural</h2>
                    <ul>
                        <li><a href="https://drive.google.com/file/d/1N48othAzc3lreXeB2AOlJmPfKA1geiWr/view?usp=drive_link">Rural Ambiente 1</a></li>
                        <li><a href="https://drive.google.com/file/d/1CpqEG3aUMioE5PU0BVjQwHUMRMQJ_J_W/view?usp=drive_link">Rural Ambiente 2</a></li>
                        <li><a href="https://drive.google.com/file/d/1N48othAzc3lreXeB2AOlJmPfKA1geiWr/view?usp=drive_link">Rural Ambiente 3</a></li>
                    </ul>
                    <div>
                        <img src= "../../static/assets/img/rural_estacion.jpg" alt="Rural">
                    </div>
                </div>
            </div>
        </section>
    </main> 
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
        <div class="redes_soc">
            <img src="../static/assets/img/facebook.png" alt="Facebook">
            <img src="../static/assets/img/instagram.png" alt="Instagram">
            <img src="../static/assets/img/whatsapp.png" alt="WhatsApp">
        </div>
    </footer> 
</body>
</html>
