<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="../static/css/style.css">
<title>Inicio de Sesión</title>

</head>
<body>
    <header class="header">
        <nav>
            <div id="logo">
                <a href="../index.html">
                    <button class="corner-button">
                        <span>Mapa Sonoro</span>
                    </button>
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="mapas-sonoros.html">Mapas Sonoros</a></li>
                <li><a href="recursos.html">Recursos</a></li>
                <li><a href="formulario.html" class="btn-cac"><i class="fa-solid fa-user"></i><span>  Iniciar Sesión  </span></a></li>
            </ul>
        </nav>
    </header>

<div class="container-form register">
    <div class="information">
        <div class="info-childs">
            <h2>Formulario de Contacto</h2>
            <p>Podés hacernos cualquier tipo de sugerencia o consulta, luego de dejarnos tus datos para poder contactarte. </p>
    </div>
</div>

<div class="form-information">

        <form action="#" id="formRegister" method="GET" novalidate>
            <h3>Consultas</h3>
            <div class="form-control">
                <label >Nombre:</label>
                <input type="text" name="firstname" id="firstname" required>
            </div>
            <div class="error" id="error-firstname"></div>
            <div class="form-control">
                <label>Apellido:</label>
                <input type="text" name="lastname" id="lastname" required >
            </div>
                <div class="error" id="error-lastname"></div>
                <div class="form-control">
                    
                    <label>Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="error" id="error-email"></div>
                <div class="form-control"></div>
                <div class="form-control">
                    <label id="label-select">Topico de consulta:</label>
                    <select name="tipodeconsulta" id="tipodeconsula" class="form-select">
                        <option value="">Elige el topico de la consulta</option>
                        <option value="CN">Contacto </option>
                        <option value="MS">Mapa Sonoro</option>
                        <option value="AU">Audios</option>
                        <option value="RG">Registro</option>
                        <option value="OT">Otro</option>
                    </select>
                </div>
                <div>
                    <label for="msg">Consulta</label>
                    <br>
                    <textarea name="comentario" rows="13" cols="46" id="msg"></textarea>
                </div>
                <button type="submit">Enviar</button>
                <div class="form-terms">
                    <div class="terms">
                <input type="checkbox"  id="terms" >
                <label for="terms">Acepto términos y condiciones</label>
                    </div>
                </div>
        </form>
    </div>
</div>

    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
        <div class="redes_soc">
            <img src="../static/img/facebook.png" alt="Facebook">
            <img src="../static/img/instagram.png" alt="Instagram">
            <img src="../static/img/whatsapp.png" alt="WhatsApp">
        </div>
    </footer>
</body>
</html>